/*-- scss:defaults --*/
$white: #fff !default;

$blue: #027af2 !default;
$hero-blue: #027af2;
$header-color: #0b0e14 !default;
$p-color: #4c566a !default;
$banner-color: #eceff4 !default;
$banner-text-color: #3b4252 !default;
$nav-footer-color: #eceff4 !default;
$nav-footer-text-color: #2e3440 !default;
$primary:  $blue;
/*-- scss:rules --*/

// fonts
$header-font: "https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap";
$body-font: "https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap'";

@if $header-font {
    @import url($header-font);
}

@if $body-font {
    @import url($body-font);
}

// elements
* {
    font-weight: 300;
    letter-spacing: 0.01071em;
}

h1 {
    color: $header-color;
    font-size: 2.5rem;
    font-weight: 300;
    font-family: "Rubik", sans-serif;
}

h2 {
    border-bottom: none;
    padding-bottom: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    color: $header-color;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: "Rubik", sans-serif;
}

p {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 0;
    color: $p-color;
    padding-bottom: 10px;
}

// divs
.hero-heading {
    font-size: 2.5rem;
    color: #0b0e14;
}

.hero-highlight {
    color: $hero-blue;
}

.highlight-banner {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: $banner-color;
    color: $banner-text-color;
    text-align: center;
}

.highlight-banner p {
    padding-bottom: 0px;
}

.portfolio-banner {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: $banner-color;
}

.portfolio-banner p {
    color: $banner-text-color;
    padding-bottom: 0px;
}

// .gallery-title {
//     text-align: center;
// }

.gallery-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.gallery-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.gallery-column {
    flex: 50%;
    max-width: 50%;
    padding: 16px;
}

.gallery-column img {
    margin-bottom: 32px;
    vertical-align: middle;
    width: auto;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 800px) {
    .gallery-column {
        flex: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .gallery-column {
        flex: 100%;
        max-width: 100%;
    }
}

// images
#profile-image {
    max-width: 95%;
    height: auto;
    border-radius: 4.25px;
}

// buttons

// .cta-button {
//     float: right;
// }

.about-link-text {
    font-family: "Rubik", sans-serif;
    text-decoration: none;
}

.btn {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 16px;
    color: $white;
    background-color: $hero-blue;
}
.btn:hover {
    color: $white;
}

// nav
.navbar {
    background-color: $white;
    
}

.nav-link, .navbar-title {
    font-weight: 400;
    font-family: "Rubik", sans-serif;
    color: $header-color;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
  
    &:hover {
      color: $blue;
    }
  
    &.active {
      color: $blue;
  
      .menu-text {
        color: $blue;
      }
    }
  }

// nav-footer
.nav-footer {
    background-color: $nav-footer-color;
    color: $nav-footer-text-color;
}

.nav-footer p {
    background-color: $nav-footer-color;
    color: $nav-footer-text-color;
}
