/*-- scss:defaults --*/
// quarto-scss-analysis-annotation { "origin": "cosmo (builtin theme)" }

$theme: "cosmo" !default;

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #2780e3 !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #e83e8c !default;
$red:     #ff0039 !default;
$orange:  #f0ad4e !default;
$yellow:  #ff7518 !default;
$green:   #3fb618 !default;
$teal:    #20c997 !default;
$cyan:    #9954bb !default;

$primary:       $blue !default;
$secondary:     $gray-800 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$min-contrast-ratio:   2.6 !default;

// Options

$enable-rounded: false !default;

// Body

$body-color:    $gray-800 !default;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:    "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$headings-font-weight:      400 !default;

// Navbar

$navbar-dark-hover-color:       rgba($white, 1) !default;
$navbar-light-hover-color:      rgba($black, .9) !default;

// Alerts

$alert-border-width:            0 !default;

// Progress bars

$progress-height:               .5rem !default;

// About
.about-entity{
  padding-left: 1rem;
}

.about-image {
  max-width: 20em;
  aspect-ratio: auto;
  padding: 16px;
}

// Photos

.photo-grid {
  column-count: 3;
  // column-gap: 10px;
}

.photo-grid img {
  width: 100%;
  height: auto;
  display: inline-block;
  aspect-ratio: auto;
  // margin-bottom: 10px;
  vertical-align: top;
}

// Card Images
.card-img-top {
  max-height: 12rem;
}

// Chip
.chip-description {
  display: flex;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 5px 0px;
}

.chip-caption {
  flex: 0;
  white-space: nowrap;
  color: #777;
  font-family: Arial;
  /* max-width: 100px; */
  line-height: 30px;
  padding: 0;
  margin-right: 15px;
  
}

.chip {
  background-color: whitesmoke;
  color: #3871E0;
  padding: 6px 8px;
  border-radius: 10px;
  text-decoration: none;
  margin-right: 12px;
  font-size: 14px;
  font-weight: 500;
  // font-family: Arial;
}

.chip:hover, .chip:focus, .chip:active {
  text-decoration: underline;
  // background-color: #eee;
  // text-decoration: none;
}

.chip a {
  text-decoration: none;
}

// CTA Buttons

// this will helpalign with bottom of image
.g-col-6 { 
  display: flex;
  flex-direction: column;
}

.button-div {
  margin-top: auto;
  padding-bottom: 12px;
}

.brand-button-primary, .brand-button-secondary {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 20px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  min-height: 48px;
  min-width: auto;
  padding: 13px 24px 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: background-color 0.2s, box-shadow 0.2s, color 0.2s;
  align-items: center;
}
.brand-button-primary {
  background-color: #2780e3;
  color: white;
  border-color: #2780e3;
}

.brand-button-primary:hover {
  background-color: #1961b3;
  border-color: #1961b3;
}

.brand-button-secondary {
  background-color: white;
  color: #2780e3;
  border-color: #ddd;
}

.brand-button-secondary:hover {
  background-color: #f0f0f0;
  border-color: #1961b3;
  color: #1961b3;
}




/*-- scss:rules --*/


// Variables

$web-font-path: "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

// Typography

body {
  -webkit-font-smoothing: antialiased;
}

// Indicators

.badge {
  &.bg-light {
    color: $dark;
  }
}

// Progress bars

.progress {
  @include box-shadow(none);

  .progress-bar {
    font-size: 8px;
    line-height: 8px;
  }
}


// quarto-scss-analysis-annotation { "origin": null }