/*-- scss:defaults --*/

// Color system
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #47536b;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #0b0e14;
$gray-900: #212529;
$black:    #000;

$blue:    #027af2;
$indigo:  #6610f2;
$purple:  #613d7c;
$pink:    #e83e8c;
$red:     #ff0039;
$orange:  #f0ad4e;
$yellow:  #ff7518;
$green:   #3fb618;
$teal:    #20c997;
$cyan:    #9954bb;

$primary:       $blue;
$secondary:     $gray-800;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

// Body
$body-color: $gray-400;

// Fonts
$header-font: "https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap";
$body-font: "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";

// Import fonts
@if $header-font {
  @import url($header-font);
}

@if $body-font {
  @import url($body-font);
}

// Typography
p {
  font-family: "Montserrat", system-ui;
  color: $body-color;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 0;
}

h1, .hero-heading, h2 {
  font-family: 'Rubik', sans-serif;
}

// Global Styles
* {
  font-weight: 300;
  letter-spacing: 0.01071em;
}

// Headings
h1 {
  color: $dark;
  font-size: 2.5rem;
  font-weight: 300;
}

h2 {
  border-bottom: none;
  padding-bottom: 0;
  margin: 10px 0;
  color: $dark;
  font-size: 1.5rem;
  font-weight: 300;
}

// Paragraphs
p {
  margin-bottom: 0;
  color: $gray-600;
}

// Hero Section
.hero-heading {
  font-size: 2.5rem;
  color: $dark;
}

.hero-highlight {
  color: $primary;
}

// Banners
.highlight-banner, .portfolio-banner {
  padding: 20px 0;
  margin: 20px 0;
  background-color: $dark;
  color: $gray-500;
  text-align: center;
}

// Gallery
.gallery-title {
  text-align: center;
}

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.gallery-column {
  flex: 50%;
  max-width: 50%;
  padding: 16px;

  img {
    margin-bottom: 32px;
    vertical-align: middle;
    width: auto;
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 800px) {
  .gallery-column {
    flex: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .gallery-column {
    flex: 100%;
    max-width: 100%;
  }
}

// Badge
.badge.bg-light {
  color: $dark;
}

// Profile Image
#profile-image {
  max-width: 95%;
  height: auto;
}