/* css styles */

#profile-image {
    max-width: 95%;
    height: auto;
}

* {
  font-weight: 300;
  letter-spacing: 0.01071em;
}

h1 {
  color: #0b0e14;
  font-size: 2.5rem;
  font-weight: 300;
}

h2 {
    border-bottom: none;
    padding-bottom: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #0b0e14;
    font-size: 1.5rem;
    font-weight: 300;
}

p {
    margin-bottom: 0;
    color: #47536b;
}

.hero-heading {
    font-size: 2.5rem;
    color: #0b0e14;
}

.hero-highlight {
    color: #027af2
}

.highlight-banner {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #05070a;
    color: #94a0b8;
    text-align: center;
}

.portfolio-banner {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #05070a;
    color: #94a0b8;
}

.gallery-title {
    text-align: center;
}

.gallery-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .gallery-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .gallery-column {
    flex: 50%;
    max-width: 50%;
    padding: 16px;
  }
  
  .gallery-column img {
    margin-bottom: 32px;
    vertical-align: middle;
    width: auto; /* Use the actual image width */
    max-width: 100%; /* Ensure it doesn't overflow the container */
    height: auto; /* Maintain aspect ratio */
  }
  
  @media screen and (max-width: 800px) {
    .gallery-column {
      flex: 100%;
      max-width: 100%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .gallery-column {
      flex: 100%;
      max-width: 100%;
    }
  }
/* .highlight-banner h2{
    text-align: center;
} */